{{>layout/header}}
<div class="container-fluid">
    <div class="row">
        <div class="col-mid-12 text-center">
            <h1> 가게 등록</h1>
            <br><br>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="text-center col-md-4 col-md-offset-4">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">가게 이름</label>
                    <input type="text" class="form-control" id="name" placeholder="이름을 입력하세요.">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">도시</label>
                    <input type="text" class="form-control" id="city" placeholder="도시를 입력하세요.">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">동</label>
                    <input type="text" class="form-control" id="street" placeholder="동을 입력하세요.">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">우편번호</label>
                    <input type="number" class="form-control" id="zipcode" placeholder="우편번호를 입력하세요.">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">카테고리 설정</label>
                    <input type="text" class="form-control" id="category" placeholder="카테고리를 입력하세요. 없으면 새로 생성합니다.">
                </div>
                <button type="button" class="btn btn-default" id="btn-store-save">등록</button>
                <a href="/" role="button" class="btn btn-default">취소</a>
            </form>

        </div>
    </div>
</div>
{{>layout/footer}}