{{>layout/header}}
<div class="container-fluid">
    <div class="row">
        <div class="col-mid-12 text-center">
            <h1> 주문 관리 시스템</h1>
            <br><br>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center"><a href="/user/save" role="button" class="btn btn-primary btn-lg btn-block">회원 가입</a></div>
        <div class="col-md-6 text-center"><a href="/user/search" role="button" class="btn btn-primary btn-lg btn-block">회원 조회</a></div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center"><a href="/store/save" role="button" class="btn btn-primary btn-lg btn-block">가게 등록</a></div>
        <div class="col-md-6 text-center"><a href="/store/search" role="button" class="btn btn-primary btn-lg btn-block">가게 조회</a></div>
    </div>
</div>

{{>layout/footer}}